.user-iam-app {
  @import 'vars';

  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* SINGLE CONTROLS */

.userProfile__button {
  width: 300px;
  margin: 4px;
}

.userProfile__roles {
  padding: 8px 0 8px 0;
}

.userProfile__participants {
  padding: 8px 0 8px 0;
}

.userProfile__removeButton button {
  float: right;
}

.userProfile__modal {
  width: 500px;
}
